{% extends 'main/main.html' %}

{% block content %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-baseline">
                <br> <br>
                <h4 class="text-white-75 font-weight-bold text-center">Projects</h4>
                <hr class="divider my-4" />
                
                <div class="card-port">
                    <div class="container">
                      <h4 class="card-text-head">Toebeans</h4>
                      <br>
                      <p class="card-text-desc">An android application that displays ramdom cat pictures from TheCATAPI.</p>
                      <br>
                      <a href="https://github.com/karenangelica/toebeans"><img class="img-git" src="/static/images/github.png" alt="github_icon"></a>  
                      <a data-toggle="modal" data-target="#showToebeansDesign" href="">UI Design</a> 
                    </div>
                  </div>
                    

                  <div class="card-port">
                    <div class="container">
                      <h4 class="card-text-head">Doit</h4> 
                      <p class="card-text-desc">An android task management application that helps you organize your daily todos with minimalist design.</p>

                      <a href="https://github.com/karenangelica/doitapp"><img class="img-git" src="/static/images/github.png" alt="github_icon"></a>  
                      <a data-toggle="modal" data-target="#showDoitDesign" href="">UI Design</a>  
                    </div>
                  </div>

                <div class="card-port">
                    <div class="container">
                      <h4 class="card-text-head">K-lair</h4>
                      <br>
                      <p class="card-text-desc">My personal website used for blogs, code snippets and portfolio. Deployed using Heroku.</p>
                      <br>
                      <a href="https://github.com/karenangelica/k-lair"><img class="img-git" src="/static/images/github.png" alt="github_icon"></a> 
                      <a data-toggle="modal" data-target="" href="">UI Design</a> 
                    </div>
                  </div>

                  <div class="card-port">
                    <div class="container">
                      <h4 class="card-text-head">Neodaily</h4>
                      <br> 
                      <p class="card-text-desc">UI Design Implementation on Android Studio for a digital planner.</p>
                      <br>
                      <a href="default.asp"><img class="img-git" src="/static/images/github.png" alt="github_icon"></a>  
                      <a data-toggle="modal" data-target="#showNeodailyDesign" href="">UI Design</a> 
                    </div>
                  </div>

                           
            </div>

            
            

            
        </div>

        
    </div>
    </header>

     <!-- Modal -->
     <div class="modal fade des" id="showToebeansDesign" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">               
                <!-- Wrapper for slides -->
            <div class="row des-size">
              <img src="/static/images/t1.jpg" >
              <img src="/static/images/t2.jpg" >
              <img src="/static/images/t3.jpg">
              <img src="/static/images/t4.jpg">
              <img src="/static/images/t5.jpg">
              
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade des" id="showDoitDesign" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">               
                <!-- Wrapper for slides -->
            <div class="row des-size">
              <img src="/static/images/d1.jpg" >
              <img src="/static/images/d2.jpg" >
              <img src="/static/images/d3.jpg">
              <img src="/static/images/d3.3.jpg">
              <img src="/static/images/d4.jpg">
              <img src="/static/images/d5.jpg">
              <img src="/static/images/d6.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade des" id="showNeodailyDesign" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">               
                <!-- Wrapper for slides -->
            <div class="row des-size">
              <img src="/static/images/1.png" >
              <img src="/static/images/2.png" >
              <img src="/static/images/3.png">
              <img src="/static/images/4.png">
              <img src="/static/images/5.png">
              <img src="/static/images/6.png">
              <img src="/static/images/7.png">
              <img src="/static/images/8.png" >
              <img src="/static/images/9.png" >
              <img src="/static/images/10.png"> 
              <img src="/static/images/11.png">
              <img src="/static/images/12.png">                 
              <img src="/static/images/13.png">                          
              <img src="/static/images/14.png">
              <img src="/static/images/15.png" > 
              <img src="/static/images/16.png" >
              <img src="/static/images/17.png">                        
              <img src="/static/images/18.png">                
              <img src="/static/images/19.png">           
              <img src="/static/images/20.png">
              <img src="/static/images/21.png">
              <img src="/static/images/22.png" >
              <img src="/static/images/23.png" >
              <img src="/static/images/24.png">
              
            </div>
          </div>
        </div>
      </div>
      
    

  


{% endblock %}

